---
import { ViewTransitions } from 'astro:transitions'
import '@fontsource-variable/inter'
import '@fontsource/dm-serif-display'

import { SeoValues } from '@/constants/seo'
import { cn } from '@/lib/utils'
import { Navbar } from '@/components/Navbar'
import { TailwindIndicator } from '@/components/TailwindIndicator'

import '@/styles/globals.css'

interface Props {
  /**
   * SEO specifics
   */
  title: string
  description: string
  image?: string

  /**
   * Container CSS classes
   */
  css?: string

  /**
   * Navbar specifics
   */
  showNav?: boolean
  path?: string
}

const { title, description, image, css, path, showNav = true } = Astro.props

/**
 * <meta content={SeoValues.keywords} name="keywords" />
 * <meta content="index,follow" name="robots" />
 *
 * <meta name="author" content="@rafaelllycan" />
 *
 * <meta name="twitter:card" content="summary_large_image" />
 *
 * <meta name="theme-color" content="#50e3c2" />
 *
 * <link rel="preconnect" href="https://fonts.googleapis.com" />
 * <link rel="preconnect" href="https://fonts.gstatic.com" crossOrigin="anonymous" />
 * <link rel="dns-prefetch" href="//fonts.googleapis.com" />
 *
 * <link
 *		rel="stylesheet"
 *		// rel="preload"
 *		// as="stylesheet"
 *		href="https://fonts.googleapis.com/css2?family=Montserrat&family=PT+Serif&display=swap"
 * />
 *
 */
---

<!doctype html>
<html lang="es-ES">
  <head>
    <!-- global metadata -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/svg/novo-logo.svg" />
    <meta name="generator" content={Astro.generator} />

    <!-- primary meta tags -->
    <title>{title}</title>
    <meta name="title" content={title} />
    <meta name="description" content={description} />
    <meta content={SeoValues.keywords} name="keywords" />
    <meta content="index,follow" name="robots" />

    <!-- open graph -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={image} />

    <!-- link tags -->
    <link rel="sitemap" href="/sitemap-index.xml" />

    <ViewTransitions />
  </head>
  <body>
    {showNav && <Navbar path={path} />}
    <main class={cn('mx-auto w-full max-w-2xl p-5 min-h-screen', css)}>
      <slot />
    </main>
    <TailwindIndicator />
  </body>
</html>
